/** 3d 先后淡出  **/
@keyframes rotate3dDown {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: perspective(800px) rotateX(0deg) translateZ(0px);
    }
    100% {
        opacity: 0;
        transform-origin: 50% 100%;
        transform: perspective(800px) rotateX(-180deg) translateZ(300px);
    }
}

@keyframes rotate3dLeft {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: perspective(800px) rotateY(0deg) translateZ(0px);
    }

    100% {
        opacity: 0;
        transform-origin: 50% 0;
        transform: perspective(800px) rotateY(180deg) translateZ(300px);
    }
}

@keyframes rotate3dRight {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: perspective(800px) rotateY(0deg) translate3d(0px);
    }

    100% {
        opacity: 0;
        transform-origin: 50% 0;
        transform: perspective(800px) rotateY(-180deg) translateZ(150px);
    }
}

@keyframes rotate3dUp {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: perspective(800px) rotateX(0deg) translateZ(0px);
    }

    100% {
        opacity: 0;
        transform-origin: 50% 0;
        transform: perspective(800px) rotateX(180deg) translateZ(100px);
    }
}
.rotate3dDown {
    backface-visibility: visible !important;
    animation-name: rotateDown;
}
.rotate3dLeft {
    backface-visibility: visible !important;
    animation-name: rotateLeft;
}
.rotate3dRight {
    backface-visibility: visible !important;
    animation-name: rotateRight;
}
.rotate3dUp {
    backface-visibility: visible !important;
    animation-name: rotateRight;
}
